---
import { highlightJomini } from '../utils/highlight.js';

const { code = '', title = 'code' } = Astro.props;
const highlighted = highlightJomini(code);
---

<div class="codewrap">
  <div class="codeHeader">
    <span class="codeTitle">{title}</span>
    <button class="copyButton" type="button" data-copy-code>Copy</button>
  </div>
  <pre><code set:html={highlighted}></code></pre>
</div>
